.page-top {
    /* background: url("../PIC/iiita-bg.png") repeat scroll center center #dcdcdc; */
}
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.heading {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}
.post-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.project-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.post {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    /* padding: 1rem; */
    border-radius: 1rem;
    /* border: 2px solid rgb(1, 41, 112); */
    box-shadow: 0 2px 4px 1px rgb(12 0 46 / 4%);
    transition: all 0.3s ease-in-out;
}
.post_title {
    background-color: rgb(1, 41, 112);
    color: white;
    font-size: 1.3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.5rem;
    /* font-weight: bold; */
}
.post_authors {
    padding: 0 0.5rem;
    padding-top: 1rem;
}
.post_desc {
    padding: 0 0.5rem;
}
.external_links {
    padding: 0 0.5rem;
    padding-bottom: 1rem;
}
.post_authors a {
    font-size: 1rem;
    /* font-weight: bold; */
}
.external_links a {
    color: blue;
}
