* {
    scroll-behavior: smooth;
}
.card {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    /* padding: 10px; */
}
.center {
    margin: 0 auto;
}
.team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

h1 {
    font-family: "Poppins", sans-serif;
}

h2 {
    font-family: "Poppins", sans-serif;
}

h3 {
    font-family: "Poppins", sans-serif;
}

footer {
    padding: 10px;
    margin-top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
    background-color: #f6f9ff;
    text-shadow: 0px 1px 0px rgba(000, 000, 000, 0.5);
}

body {
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #f6f9ff;
}

.navbar-fixed-top {
    min-height: 60px;
}

.navbar-brand {
    min-height: 60px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 60px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

#head_bg {
    background-color: #f6f9ff;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 900;
    font-size: 3rem;
}
.iiit_logo {
    width: 60px;
    height: 60px;
}

/* -----------------------------------Contact-----------------------------*/

.contact-area {
    height: auto;
    width: 100%;
}

.contact-content {
    padding: 100px;
    background: #000 none repeat scroll 0 0;
}

.contact-content-right {
    padding: 100px;
}

.single-icon i {
    font-size: 24px;
    width: 50px;
    height: 50px;
    border: 1px solid #444;
    line-height: 46px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.single-icon p {
    font-size: 16px;
    line-height: 30px;
}

.contact-icon {
    margin-bottom: 40px;
}

#google-map {
    height: 370px;
    margin-bottom: 20px;
}

.php-email-form .validate {
    display: none;
    color: red;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
}

.php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.php-email-form input,
.php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.php-email-form input::focus,
.php-email-form textarea::focus {
    background-color: #3ec1d5;
}

.php-email-form input {
    padding: 20px 15px;
}

.php-email-form textarea {
    padding: 12px 15px;
}

.php-email-form button[type="submit"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #444;
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
    padding: 12px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    border-radius: 30px;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fontawesomeicon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.Envelope::before {
    font: var(--fa-font-solid);
    content: " \f0e0";
}

.ccc {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
    padding: 0;
}

li {
    list-style: none;
}
.scroll-top {
    display: none;
    padding: 0.5rem;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    background: rgb(1, 41, 112);
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.scroll-top i {
    font-size: 24px;
    color: white;
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}
.MuiGrid-grid-sm-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
}
.MuiGrid-grid-xs-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}
.MuiGrid-item {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-sizing: border-box;
}

.ContactCard_contactCard__1yZii {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.2);
    text-align: center;
    border-radius: .35rem;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    background-color: #fff;
}
.ContactCard_cardHeader__3Fu8s {
    padding: .5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    background-color: #012970;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.125);
    text-align: center;
    border-top-left-radius: .35rem;
    border-top-right-radius: .35rem;
}
.ContactCard_profileImage__BfUCA {
    margin: 1rem 0;
    margin-top: 1rem;
    margin-right: 0px;
    margin-bottom: 1rem;
    margin-left: 0px;
    width: 250px;
    height: 250px;
    border-radius: .3rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
.ContactCard_designation__1BXbK {
    font-size: 1.25rem;
    color: #fff;
    text-align: center;
    margin: .2rem 0;
    margin-top: 0.2rem;
    margin-right: 0px;
    margin-bottom: 0.2rem;
    margin-left: 0px;
}
.ContactCard_subDesignation__3CVix {
    font-size: 1rem;
    color: #fff;
    margin: .2rem 0;
    margin-top: 0.2rem;
    margin-right: 0px;
    margin-bottom: 0.2rem;
    margin-left: 0px;
}
.ContactCard_cardContent__2ONbn {
    padding: .2rem;
    padding-top: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    color: #012970;
    text-align: center;
    border-bottom-left-radius: .35rem;
    border-bottom-right-radius: .35rem;
}
.ContactCard_footer__Ut8zl {
    padding: .7rem;
    padding-top: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.7rem;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 17.5rem;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.ContactCard_email__M_S7C {
    font-size: 1rem;
    color: #383cc1;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 .5rem;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0.5rem;
    margin-left: 0px;
}
.MuiSvgIcon-fontSizeSmall {
    font-size: 1.25rem;
}
.ContactCard_phone__ky_j9 {
    font-size: 1rem;
    color: #383cc1;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    transition-property: fill;
    flex-shrink: 0;
    user-select: none;
}