.about_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
}
.about_section img {
}
.research_section {
    padding: 3rem;
    font-size: 1.5rem;
}
@media (max-width: 768px) {
    .about_section {
        flex-direction: column;
    }
}
